<html>
	<head>
		<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

		</style>

		<script type = "text/javascript">
		</script>
	</head>

	<body>
		
		<body style="background-color:#0B0B45;">
		<h1 style="text-align:center;color:white;">Results</h1>
		<img src="{{ url_for('static', filename='Capricorn.png') }}" class="center">
		<h2 style="text-align:center;color:white;">You Got Capricorn!<h/2>
		<p style="text-align:center;color:white;">You are the practical and hardworking type</p>
		<div style="text-align:center; margin-top: 30px;">
  		<a href="/" style="
    		display: inline-block;
    		padding: 12px 24px;
    		background-color: #fddb92;
    		color: black;
    		text-decoration: none;
    		border-radius: 8px;
    		font-weight: bold;
    		font-size: 16px;
  		">
    		🔁 Take the Quiz Again
  		</a>
		</div>

	</body>
</html>