<html>
	<head>
		<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

		</style>

		<script type = "text/javascript">
		</script>
	</head>

	<body>
		
		<body style="background-color:#0B0B45;">
		<h1 style="text-align:center;color:white;">Results</h1>
		<img src="Pisces.png" class="center">
		<h2 style="text-align:center;color:white;">You Got Pisces!<h/2>
		<p style="text-align:center;color:white;">You are the creative and emotional type</p>
	</body>
</html>